{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/mainapp.css' %}" charset="utf-8">
    <table>
        {% for user in users %}
            {% if user not in friends %}
            <tr><th>{{ user.name }}</th><th>{{ user.depressions }}</th>
                <th><form action="/mainpage/add_friends/" method="post" name="Wats?">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ user.user.id }}">
                    <p><input type="submit" value="Добавить"></p>
                </form></th></tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}