{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/mainapp.css' %}" charset="utf-8">
    <h2>Введите секретный код!</h2>
    {% if error %}
        {{ error }}
    {% endif %}
    {% if image_name %}
        <img src="{% static 'mainapp/secret_images/' %}{{ image_name }}">
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="secret code"><b>Secret code</b></label>
        <input type="text" placeholder="Enter secret code" name="code" required>
    </form>
{% endblock %}