{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/mainapp.css' %}" charset="utf-8">
    <table>
        {% for user in friends %}
            <tr><th>{{ user.name }}</th><th>{{ user.depressions }}</th>
                <th><form action="/mainpage/my_friends/" method="post" name="add_depression">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ user.user.id }}">
                    <input type="hidden" name="action" value="add_depression">
                    <p><input type="submit" value="Добавить депрессию"></p>
                </form></th>


                <th><form action="/mainpage/my_friends/" method="post" name="del_depression">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ user.user.id }}">
                    <input type="hidden" name="action" value="del_depression">
                    <p><input type="submit" value="Убрать депрессию"></p>
                </form></th>

                <th><form action="/mainpage/my_friends/" method="post" name="Wats?">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ user.user.id }}">
                    <input type="hidden" name="action" value="delete">
                    <p><input type="submit" value="Удалить из друзей"></p>
                </form></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}